In [ ]:
# Importação de Bibliotecas para tratamento de dados.
import pandas as pd

### Abrindo para leitura da Base de dados.

In [ ]:
df = pd.read_csv('KAG_conversion_data.csv')

In [ ]:
# Função para visualização das 5 primeiras Linhas
df.head(6)

In [ ]:
df.columns

Index(['ad_id', 'xyz_campaign_id', 'fb_campaign_id', 'age', 'gender',
       'interest', 'Impressions', 'Clicks', 'Spent', 'Total_Conversion',
       'Approved_Conversion'],
      dtype='object')

In [ ]:
df.shape

(1143, 11)

In [ ]:
linhas, colunas = df.shape

In [ ]:
print(f'Essa base de dados possui {linhas} linhas e {colunas} colunas')

Essa base de dados possui 1143 linhas e 11 colunas

In [ ]:
# Função para visualização das ultimas Linhas
df.tail(6)

In [ ]:
df.info

<bound method DataFrame.info of         ad_id  xyz_campaign_id  ...  Total_Conversion Approved_Conversion
0      708746              916  ...                 2                   1
1      708749              916  ...                 2                   0
2      708771              916  ...                 1                   0
3      708815              916  ...                 1                   0
4      708818              916  ...                 1                   1
...       ...              ...  ...               ...                 ...
1138  1314410             1178  ...                13                   2
1139  1314411             1178  ...                 3                   0
1140  1314412             1178  ...                 2                   0
1141  1314414             1178  ...                 8                   2
1142  1314415             1178  ...                 5                   2

[1143 rows x 11 columns]>